<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dart Frogs</name>
    <description>All about dart frogs</description>
    <author email="mykah.duncanmatis@uleth.ca" href="mykah.duncanmatis@uleth.ca">
        Mykah
    </author>
    <platform name="android">
        <icon density="xxxhdpi" src="www/res/icon/icon.png"/>
    </platform>
    <content src="index.html" /> 
</widget>
