body {
  min-height: 100%;
  background: var(--grey--light);
}
nav {
  font-family: 'Passion One', cursive;
  font-size: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
}
/*SIDEBAR TUTORIAL https://www.youtube.com/watch?v=dEdwDijoceY*/
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  font-size: 24px;
  margin-right: 14px;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  padding: 20px;
  background-color: goldenrod;
  height: 100%;
  width: 260px;
  transition: all 0.5s ease;
}

nav.open .sidebar {
  
  left: 0;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 1000vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.menu-icon {
  width: 24x;
  height: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.page-content {
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #2b9348;
  background-image: url("C:\Users\mykah\OneDrive\Desktop\Clarity-A1\www\img\app-plantbg.jpg");
}
ul li {
  background-color:transparent;
}
h1 {
    font-family: 'Passion One', cursive;
    color:aliceblue;
    background-color: #2b9348;
}


.toolbar {
    font-family: 'Passion One', cursive;
    
}

.toolbar-inner {
    background-color: #bfd200;
}

/*ACCORDIAN STUFF*/
.accordion-item {
  background-color: #80b918;
  text-transform: none;
}

.item-title {
  text-decoration: underline;
}

.accordion-item-content {
  padding-left: 10px;
}


/*Home Button Icon from Ikonate*/
:root {
    --grey--light: #fafaff;
    --white: #ffffff;
  }

  

  .main {
    width: 1152px;
    text-align: center;
    margin: 0 auto;
  }

  .main__item {
    background: var(--white);
    border-radius: 4px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
  }

  .main__item svg {
      width: 48px;
      height: 48px;
      stroke: black;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      color: black;
  }

/*Terrarium Image*/
.terrarium_image {
  padding-top: 100px;
}