
.page-content {
  padding: 10px;
}
ul li {
  background-color:transparent;
}
h1 {
    font-family: 'Passion One', cursive;
    color:aliceblue;
}


.toolbar {
    font-family: 'Passion One', cursive;
    
}

.toolbar-inner {
    background-color: #bfd200;
}


.page-content {
  background-color: #2b9348;
  background-image: url("C:\Users\mykah\OneDrive\Desktop\Clarity-A1\www\img\app-plantbg.jpg");
}
.accordion-item {
  background-color: #80b918;
  text-transform: none;
}

.item-title {
  text-decoration: underline;
}

.accordion-item-content {
  padding-left: 10px;
}


/*Home Button Icon from Ikonate*/
:root {
    --grey--light: #fafaff;
    --white: #ffffff;
  }

  body {
    background: var(--grey--light);
  }

  .main {
    width: 1152px;
    text-align: center;
    margin: 0 auto;
  }

  .main__item {
    background: var(--white);
    border-radius: 4px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
  }

  .main__item svg {
      width: 48px;
      height: 48px;
      stroke: black;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      color: black;
  }

/*Background*/
view {
  
}

/*Terrarium Home*/
.terrarium {
  padding: 10px;
  padding-top: 75px;
}
.terrarium-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-column-gap: 10px;
}

/*Icons*/

#bug {
  width: 35px;
}
#drops {
  width: 35px;
}
#sun {
  width: 35px;
}
svg {
  display: block;
  margin: auto;
  
}